body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: 1550px 700px;
    
}

h1 {
    color: #333;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #313232;
    color: white;
    border: none;
}

a {
    color: rgb(5, 5, 5);
}